/* Общие параметры */

img {
    pointer-events: none;
}

* {
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1 {
    font-size: 40px;
    color: #fee6aa;
    font-weight: 500;
}

h2 {
    font-size: 25px;
    color: #ffc000;
    font-weight: 400;
}

.container {
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.width100 {
    width: 100%;
}

/* Header */

.header {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #666e21;
}

.container > h1 {
    padding: 25px 0 13px 0;
    margin: auto;
    width: 100%;
}

.container > h2 {
    margin: auto;
    padding-bottom: 25px;
}

/* Section-1 */

.section {
    padding: 65px 0 0 0;
    background-color: #fee6aa;
    margin: 0 auto;
}

.main_img {
    width: 440px;
    height: 370px;
}

.params {
    text-align: center;
    margin: 0 5px;
}

.param {
    margin-bottom: 24px;
}

.param_name {
    color: #6e1300;
    font-size: 30px;
    padding-bottom: 16px;
}

.scale_outer {
    border-width: 3px;
    border-color: #6e1300;
    border-style: solid;
    width: 500px;
}

.scale {
    background-color: #666e21;
    height: 16px;
}

/* Section-2 */

.ingr_heading {
    color: #6e1300;
    margin: 0 auto 40px;
    width: 100%;
    text-align: center;
}

.container_ingrs {
    max-width: 1150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

/* ingridient */

.ingrs_outer {
    margin-bottom: 60px;
}

.ingridient {
    width: 350px;
    height: 350px;
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: #6e1300;
    background-color: #ffc000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ingr_img {
    width: 345px;
    height: 230px;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
}

.name_ingr {
    color: #6e1300;
    font-size: 30px;
    margin: o auto;
}

.screen {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tablo {
    background-color: #fee6aa;
    border: solid 3px #6e1300;
    border-radius: 5px;
    height: 50px;
    width: 120px;
    margin: 0 10px;
    color: #6e1300;
    text-align: center;
}

.button {
    transition: linear .2s;
    height: 50px;
}

.button:hover {
    cursor: pointer;
    opacity: 80%;
}

/* your reklam */

.reklam {
    width: 100%;
}

/* footer */

.footer {
    background-color: #666e21;
    color: #ffc000;
    padding: 45px 0;
    font-size: 25px;
    position: relative;
}

.links {
    width: 100%;
}

.links > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

.links a {
    transition: linear .2s;
    font-size: 25px;
}

.links a:hover {
    color: #6e1300;
    cursor: pointer;
}

.links a:active, a:visited {
    color: #ffc000;
}

.contacts {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    border: solid 5px #6e1300;
    padding: 30px;
    background-color: #fee6aa;
    color: #6e1300;
    position: absolute;
    bottom: 100px;
    right: 60px;
    z-index: 10;
}

.contacts > button {
    position: absolute;
    font-family: sans-serif;
    top: 3px;
    right: 13px;
    background-color: #fee6aa;
    color: #6e1300;
    border: none;
    padding-top: 0;
}

button:hover {
    cursor: pointer;
}

.contacts > p {
    font-size: 25px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}

/* prize */

.container > iframe {
    margin: 0 auto 65px;
}

/* mobile-adaptation */

article, footer, header, section { 
    display: block;
}

@media screen and (max-width: 1201px) {
    
    
    .section > .container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: auto 10%;
    }

    .container_ingrs {
        margin: inherit 20px;
    }

    .links li {
        width: 100%;
        text-align: center;
    }

    .ingridient {
        margin: 10px;
    }

    .links div:last-child {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .param_name {
        font-size: 24px;
    }
    
    h1{
        font-size: 100%;
    }

    h2, a {
        font-size: 70%;
    }

    .main_img {
        width: 99%;
        height: 99%;
        padding: 10px;
    }

    .params {
        width: 100%;
    }

    .scale_outer {
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    .end_links li {
        width: 100%;
    }
}

@media screen and (max-width: 370px) {
    
    h1{
        font-size: 80%;
    }

    h2, a, .ingr_heading, .param_name, .name_ingr {
        font-size: 70%;
    }

    .main_img {
        width: 99%;
        height: 99%;
        padding: 10px;
    }

    .params {
        width: 100%;
    }

    .scale_outer {
        width: 100%;
    }

    .ingridient, .screen, .ingr_img, .tablo{
        width: 100%;
        margin: 0;
    }

    iframe {
        width: 100%;
    }

    .end_links li {
        width: 100%;
    }
}